/* =========================================
Filter Washout 
========================================= */
/* line 17, ../sass/_sassmatic.scss */
.filter2, #button2 {
  -webkit-filter: sepia(10%) saturate(0.8) brightness(1.5) contrast(0.8);
  position: relative;
}
/* line 21, ../sass/_sassmatic.scss */
.filter2:after, #button2:after {
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.9) 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.9) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.9) 100%);
  background-image: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.9) 100%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

/* =========================================
Filter Nikki
========================================= */
/* line 31, ../sass/_sassmatic.scss */
.filter3, #button3 {
  -webkit-filter: saturate(1.3) brightness(1.1) contrast(1.1);
  position: relative;
}

/* =========================================
Filter Deadwood 
========================================= */
/* line 41, ../sass/_sassmatic.scss */
.filter4, #button4 {
  -webkit-filter: sepia(40%) brightness(1.4) saturate(0.8);
  position: relative;
}
/* line 45, ../sass/_sassmatic.scss */
.filter4:after, #button4:after {
  background: black;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

/* =========================================
Filter SanFran 
========================================= */
/* line 54, ../sass/_sassmatic.scss */
.filter5, #button5 {
  -webkit-filter: brightness(1.2) contrast(0.8) saturate(2) sepia(0.1);
  position: relative;
}
/* line 59, ../sass/_sassmatic.scss */
.filter5:after, #button5:after {
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.5)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  background-image: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

/* =========================================
Filter Noire 
========================================= */
/* line 68, ../sass/_sassmatic.scss */
.filter6, #button6 {
  -webkit-filter: grayscale(90%) contrast(1.3);
  position: relative;
}
/* line 72, ../sass/_sassmatic.scss */
.filter6:after, #button6:after {
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 90, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(82%, rgba(0, 0, 0, 0.65)), color-stop(83%, rgba(0, 0, 0, 0.69)), color-stop(90%, #000000));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 82%, rgba(0, 0, 0, 0.69) 83%, #000000 90%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 82%, rgba(0, 0, 0, 0.69) 83%, #000000 90%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 82%, rgba(0, 0, 0, 0.69) 83%, #000000 90%);
  background-image: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 82%, rgba(0, 0, 0, 0.69) 83%, #000000 90%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  opacity: 0.7;
}

/* =========================================
Filter Neptune 
========================================= */
/* line 82, ../sass/_sassmatic.scss */
.filter7, #button7 {
  -webkit-filter: brightness(1.4) contrast(1) saturate(1);
  position: relative;
}
/* line 86, ../sass/_sassmatic.scss */
.filter7:after, #button7:after {
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, #1e5799));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  background-image: radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

/* =========================================
Filter Lomo 
========================================= */
/* line 95, ../sass/_sassmatic.scss */
.filter8, #button8 {
  -webkit-filter: contrast(1.3) saturate(1.2) brightness(140%);
  position: relative;
}
/* line 99, ../sass/_sassmatic.scss */
.filter8:after, #button8:after {
  -webkit-filter: radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 92%, rgba(0, 0, 0, 0.69) 93%, #000000 100%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  opacity: 0.9;
}

/* =========================================
Filter Warming 
========================================= */
/* line 110, ../sass/_sassmatic.scss */
.filter9, #button9 {
  -webkit-filter: sepia(10%) saturate(0.9) brightness(140%);
  position: relative;
}
/* line 114, ../sass/_sassmatic.scss */
.filter9:after, #button9:after {
  background-color: rgba(236, 138, 0, 0.2);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  opacity: 0.6;
}

/* =========================================
Filter Cooling 
========================================= */
/* line 125, ../sass/_sassmatic.scss */
.filter10, #button10 {
  -webkit-filter: sepia(10%) saturate(0.9) brightness(140%);
  position: relative;
}
/* line 129, ../sass/_sassmatic.scss */
.filter10:after, #button10:after {
  background-color: rgba(0, 109, 255, 0.35);
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(125, 185, 232, 0)), color-stop(100%, #1e5799));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  background-image: radial-gradient(center, ellipse cover, rgba(125, 185, 232, 0) 0%, #1e5799 100%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

/* =========================================
Filter Pro
========================================= */
/* line 139, ../sass/_sassmatic.scss */
.filter11, #button11 {
  -webkit-filter: sepia(15%) contrast(1.7) saturate(0.7);
  position: relative;
}

/* =========================================
Filter Casablanca 
========================================= */
/* line 148, ../sass/_sassmatic.scss */
.filter12, #button12 {
  -webkit-filter: grayscale(90%) contrast(0.8) brightness(110%);
  position: relative;
}
/* line 152, ../sass/_sassmatic.scss */
.filter12:after, #button12:after {
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  background-image: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}

/* =========================================
Filter Glassic 
========================================= */
/* line 162, ../sass/_sassmatic.scss */
.filter13, #button13 {
  -webkit-filter: brightness(90%) contrast(1.2);
  position: relative;
}
/* line 166, ../sass/_sassmatic.scss */
.filter13:after, #button13:after {
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, rgba(244, 244, 244, 0.3)), color-stop(60%, rgba(244, 244, 244, 0.3)), color-stop(60%, rgba(244, 244, 244, 0.7)), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left bottom, rgba(244, 244, 244, 0.3) 0%, rgba(244, 244, 244, 0.3) 60%, rgba(244, 244, 244, 0.7) 60%, #ffffff 100%);
  background-image: -moz-linear-gradient(left bottom, rgba(244, 244, 244, 0.3) 0%, rgba(244, 244, 244, 0.3) 60%, rgba(244, 244, 244, 0.7) 60%, #ffffff 100%);
  background-image: -o-linear-gradient(left bottom, rgba(244, 244, 244, 0.3) 0%, rgba(244, 244, 244, 0.3) 60%, rgba(244, 244, 244, 0.7) 60%, #ffffff 100%);
  background-image: linear-gradient(left bottom, rgba(244, 244, 244, 0.3) 0%, rgba(244, 244, 244, 0.3) 60%, rgba(244, 244, 244, 0.7) 60%, #ffffff 100%);
  box-shadow: inset 0px 0px 10rem white;
  bottom: 0;
  content: '';
  left: 0;
  opacity: 0.4;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
  opacity: 0.6;
}

/* =========================================
Filter Custom
========================================= */
/* =========================================
Filter Color
========================================= */
/* =========================================
Filter Vignette
========================================= */
/* line 7, ../sass/style.scss */
html {
  background-color: #cccccc;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFCCCCCC', endColorstr='#FFFFFFFF');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 80, color-stop(0%, #cccccc), color-stop(80%, #ffffff));
  background-image: -webkit-radial-gradient(center, ellipse cover, #cccccc 0%, #ffffff 80%);
  background-image: -moz-radial-gradient(center, ellipse cover, #cccccc 0%, #ffffff 80%);
  background-image: -o-radial-gradient(center, ellipse cover, #cccccc 0%, #ffffff 80%);
  background-image: radial-gradient(center, ellipse cover, #cccccc 0%, #ffffff 80%);
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
}

/* line 16, ../sass/style.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 20, ../sass/style.scss */
::selection {
  background: #bf4d87;
  color: #fff;
}

/* line 26, ../sass/style.scss */
[class*="arrow-"] {
  color: #444;
  cursor: pointer;
  font-family: "Sofia", cursive;
  font-size: 7rem;
  transition: 0.3s color ease-in-out;
  z-index: 10;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (min-width: 31.25em) {
  /* line 26, ../sass/style.scss */
  [class*="arrow-"] {
    font-size: 15rem;
  }
}
/* line 39, ../sass/style.scss */
[class*="arrow-"]:hover {
  color: #bf4d87;
}

/* line 44, ../sass/style.scss */
.arrow-left {
  position: absolute;
  left: 1rem;
  top: 32.5rem;
  z-index: 10;
}
@media (min-width: 31.25em) {
  /* line 44, ../sass/style.scss */
  .arrow-left {
    left: 1rem;
    top: 12rem;
  }
}

/* line 55, ../sass/style.scss */
.arrow-right {
  position: absolute;
  right: 1rem;
  top: 32.5rem;
  z-index: 10;
}
@media (min-width: 31.25em) {
  /* line 55, ../sass/style.scss */
  .arrow-right {
    right: 1rem;
    top: 12rem;
  }
}

/* line 66, ../sass/style.scss */
.fork {
  -webkit-filter: hue-rotate(-40deg) brightness(105%) saturate(90%);
  z-index: 10;
  width: 12rem;
}
@media (min-width: 31.25em) {
  /* line 66, ../sass/style.scss */
  .fork {
    width: 14.9rem;
  }
}

/* line 75, ../sass/style.scss */
header {
  margin: 1rem auto -0.5rem;
  margin-left: 2rem;
  width: 300px;
}
/* line 81, ../sass/style.scss */
header h1 {
  color: #444;
  font-family: "Sansita One", cursive;
  font-size: 5rem;
  float: right;
  margin-right: 3rem;
  margin-top: -9.8rem;
  -webkit-transform: rotate(-14.5deg);
  -moz-transform: rotate(-14.5deg);
  -ms-transform: rotate(-14.5deg);
  -o-transform: rotate(-14.5deg);
  transform: rotate(-14.5deg);
}
/* line 90, ../sass/style.scss */
header img {
  width: 160px;
  float: left;
}
/* line 95, ../sass/style.scss */
header h2 {
  color: #bf4d87;
  font-size: 1.5rem;
  float: left;
  font-style: italic;
  margin: -3.2rem 0 0 1.5rem;
  padding-bottom: 2px;
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  -ms-transform: rotate(-16deg);
  -o-transform: rotate(-16deg);
  transform: rotate(-16deg);
}
/* line 104, ../sass/style.scss */
header h2 span {
  color: #444;
}

/* line 110, ../sass/style.scss */
h3 {
  color: #444;
  float: left;
  font-family: "Sansita One", cursive;
  font-size: 3.5rem;
  margin: 2rem auto 0.5rem;
  text-align: center;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 123, ../sass/style.scss */
.polaroid {
  background: #f9f9f9;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
  margin: 4rem auto 0;
  position: relative;
  padding: 1rem;
  width: 32rem;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 133, ../sass/style.scss */
.polaroid:before, .polaroid:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}
/* line 148, ../sass/style.scss */
.polaroid:after {
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
/* line 155, ../sass/style.scss */
.polaroid figcaption {
  font-family: "Pacifico", cursive;
  font-size: 3rem;
}
/* line 160, ../sass/style.scss */
.polaroid img {
  width: 100%;
}

/* line 165, ../sass/style.scss */
p {
  font-size: 1.4em;
}

/* line 169, ../sass/style.scss */
article {
  margin: 10px auto;
  max-width: 940px;
  position: relative;
  width: 90%;
}

/* line 177, ../sass/style.scss */
pre {
  background-color: #1d1f20;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF1D1F20', endColorstr='#FF2F3031');
  background-image: -webkit-gradient(linear, 0% 100%, 100% 0%, color-stop(0%, #1d1f20), color-stop(100%, #2f3031));
  background-image: -webkit-linear-gradient(left bottom, #1d1f20 0%, #2f3031 100%);
  background-image: -moz-linear-gradient(left bottom, #1d1f20 0%, #2f3031 100%);
  background-image: -o-linear-gradient(left bottom, #1d1f20 0%, #2f3031 100%);
  background-image: linear-gradient(left bottom, #1d1f20 0%, #2f3031 100%);
  color: #ccc;
  display: inline-block;
  float: left;
  font-size: 17px;
  font-size: 1.7rem;
  overflow: auto;
  padding: 10px;
  padding: 1rem;
  text-align: left;
}
/* line 191, ../sass/style.scss */
pre h4 {
  background: #bf4d87;
  color: #000;
  margin: 0;
  width: 100%;
}

/* line 199, ../sass/style.scss */
.pre1 {
  width: 100%;
}
@media (min-width: 60em) {
  /* line 199, ../sass/style.scss */
  .pre1 {
    height: 200px;
    height: 20rem;
    width: 50%;
  }
}

/* line 208, ../sass/style.scss */
.pre2 {
  height: 200px;
  height: 20rem;
  float: right;
  width: 100%;
}
@media (min-width: 60em) {
  /* line 208, ../sass/style.scss */
  .pre2 {
    width: 50%;
  }
}

/* line 218, ../sass/style.scss */
.pre3 {
  width: 100%;
}

/* line 224, ../sass/style.scss */
.syn1 {
  color: #bf4d87;
}

/* line 227, ../sass/style.scss */
.syn2 {
  color: #e0aeff;
}

/* line 230, ../sass/style.scss */
.syn3 {
  color: #fffeae;
}

/* line 233, ../sass/style.scss */
.syn4 {
  color: #525252;
}

/* line 239, ../sass/style.scss */
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: 940px;
  width: 90%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 248, ../sass/style.scss */
ul li {
  background: url("http://s.cdpn.io/31787/duck.png");
  background-size: cover;
  border: 4px solid white;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: inline-block;
  font-size: 7rem;
  height: 100px;
  line-height: 1.5;
  padding: 5px;
  margin: 1.5%;
  width: 100px;
}

/* line 267, ../sass/style.scss */
div {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px;
}

/* line 275, ../sass/style.scss */
footer {
  color: #444;
  float: left;
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  margin-bottom: 2rem;
  width: 100%;
}
/* line 283, ../sass/style.scss */
footer a {
  color: #bf4d87;
  font-size: 2.5rem;
  text-decoration: none;
}

/* =========================================
FILTERS
========================================= */
/*Filter 1*/
/* line 295, ../sass/style.scss */
.filter1, #button1 {
  -webkit-filter: none;
}

/* line 299, ../sass/style.scss */
.default:after, .caption1:after {
  content: 'No Filters';
}

/*Filter 2*/
/* line 310, ../sass/style.scss */
.caption2:after {
  content: 'Washout';
}

/*Filter 3*/
/* line 320, ../sass/style.scss */
.caption3:after {
  content: 'Nikki';
}

/*Filter 4*/
/* line 331, ../sass/style.scss */
.caption4:after {
  content: 'Deadwood';
}

/*Filter 5*/
/* line 340, ../sass/style.scss */
.caption5:after {
  content: 'Sanfran';
}

/*Filter 6*/
/* line 349, ../sass/style.scss */
.caption6:after {
  content: 'Noire';
}

/*Filter 7*/
/* line 358, ../sass/style.scss */
.caption7:after {
  content: 'Neptune';
}

/*Filter 8*/
/* line 368, ../sass/style.scss */
.caption8:after {
  content: 'Lomo';
}

/*Filter 9*/
/* line 378, ../sass/style.scss */
.caption9:after {
  content: 'Warming';
}

/*Filter 10*/
/* line 388, ../sass/style.scss */
.caption10:after {
  content: 'Cooling';
}

/*Filter 11*/
/* line 398, ../sass/style.scss */
.caption11:after {
  content: 'Pro';
}

/*Filter 12*/
/* line 408, ../sass/style.scss */
.caption12:after {
  content: 'Casablanca';
}

/*Filter 13*/
/* line 419, ../sass/style.scss */
.caption13:after {
  content: 'Glassic';
}

/*Filter 14*/
/* line 425, ../sass/style.scss */
.filter14, #button14 {
  -webkit-filter: sepia(100%);
  position: relative;
}
/* line 183, ../sass/_sassmatic.scss */
.filter14:after, #button14:after {
  content: "";
  right: 0;
  bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
/* line 200, ../sass/_sassmatic.scss */
.filter14:after, #button14:after {
  background-color: rgba(255, 180, 0, 0.5);
}
/* line 211, ../sass/_sassmatic.scss */
.filter14:after, #button14:after {
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 90, color-stop(70%, rgba(255, 255, 255, 0)), color-stop(90%, rgba(255, 255, 255, 0.9)));
  background-image: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 90%);
  background-image: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 90%);
  background-image: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 90%);
  background-image: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0) 70%, rgba(255, 255, 255, 0.9) 90%);
  box-shadow: inset 0 0 3rem white;
}

/* line 431, ../sass/style.scss */
.caption14:after {
  content: 'Custom';
}

/* line 436, ../sass/style.scss */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 445, ../sass/style.scss */
.clearfix {
  display: inline-block;
}
